@import "tailwindcss";

@theme {
  --color-spotify-green: #1DB954;
  --color-spotify-dark: #191414;
  --color-spotify-black: #000000;
  --color-spotify-white: #FFFFFF;
  --color-spotify-gray-light: #B3B3B3;
  --color-spotify-gray-medium: #535353;
  
  --font-family-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  html {
    font-family: theme(--font-family-sans);
  }
}
